.DS_Store
*.log
*.swp
*.env
.idea/
.vscode/
*.bak

venv/
.env/
.venv/

__pycache__/
*.py[cod]
*.pyd
*.so
.Python

*.egg-info/
*.egg
dist/
build/

.ipynb_checkpoints/

.pytest_cache/

node_modules/

.cache/
dist/
.temp/
*.tmp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env.local
.env.development
.env.production
.env.test

.vite/
*.local

*.tsbuildinfo

.idea/
*.iml

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

logs
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
