version: '3.8'

services:
  postgres:
    image: "postgres:16.1-alpine"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_NAME}

  redis:
    image: "redis:7.2.3-alpine"
    restart: unless-stopped
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    command: gunicorn --bind 0.0.0.0:8000 --workers 2 --log-level info momentum.wsgi:application
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app:/app/momentum
    expose:
      - "8000"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - postgres
      - redis

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    expose:
      - "80"

  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "${VIRTUAL_PORT}"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - backend
      - frontend
    networks:
      - nginx-proxy
      - default

volumes:
  static_volume:
  media_volume:
  postgres_data:
  redis_data:

networks:
  nginx-proxy:
    external:
      name: net-nginx-proxy
