*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: #2a2a2a;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #555;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #777;
}